@model BabaRh.Web.Models.ViewModel.QuestionVM

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer cette question ?</h3>
<div>
    
    

    <table class="table">
        @Html.HiddenFor(model => model.QuestionId)
        <tr>
            <th>@Html.DisplayNameFor(model => model.Module.ModuleLib)</th>
            <th>@Html.DisplayNameFor(model => model.Niveau.NiveauLib)</th>
            <th>@Html.DisplayNameFor(model => model.QuestionLib)</th>
        </tr>
        <tr>
            <td>@Model.Module.ModuleLib</td>
            <td>@Model.Niveau.NiveauLib</td>
            <td>@Model.QuestionLib</td>

        </tr>

    </table>


   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
