@model BabaRh.Web.Models.ViewModel.QuestionVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.QuestionId)


        <dt>
            @Html.DisplayNameFor(model => model.Niveau.NiveauLib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau.NiveauLib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Module.ModuleLib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module.ModuleLib)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.QuestionLib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionLib)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionOuverte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionOuverte)
        </dd>

        <dt>
            Réponses
        </dt>
        
        @foreach (var reponses in Model.Reponses)
        {
    <dd>
        @reponses.IsOK : @reponses.ReponseLib
    </dd>
        }
        </dl>
</div>

<p>   
    @Html.ActionLink("Back to List", "Index")
</p>
