@model BabaRh.Web.Models.ViewModel.QuestionVM

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.QuestionId)

        <table class="table">
            <tr>
                <th class="headerColumnLength">@Html.DisplayNameFor(model => model.Niveau.NiveauLib)</th>
                <td>@Html.DisplayFor(model => model.Niveau.NiveauLib)</td>
                </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Module.ModuleLib)</th>
                <td>@Html.DisplayFor(model => model.Module.ModuleLib)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.QuestionLib)</th>
                <td class="bg-info">@Html.DisplayFor(model => model.QuestionLib)</td>
                </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.QuestionOuverte)</th>
                <td>@Html.DisplayFor(model => model.QuestionOuverte)</td>
            </tr>
            <tr>
                <th>Réponses</th>

                @foreach (var reponses in Model.Reponses)
                {
                    <td class="retourChariotFlex">
                        @reponses.IsOK : @reponses.ReponseLib<br>
                    </td>
                }

            </tr>
           

                
             
                
                

        </table>


</div>

<p>   
    @Html.ActionLink("Retour à la liste", "Index")
</p>


<style>
    .retourChariotFlex{
        display:flex;
    }

    .headerColumnLength {
        width: 200px;
    }
    
</style>