@model IEnumerable<BabaRh.Web.Models.ViewModel.QuestionVM>


@Html.Partial( "~/Views/Shared/_LayoutQuestionsManager.cshtml")

@{
    ViewBag.Title = "Index";
}

<div class="marginAfterLeftNavBar">

    <h2>Liste des questions</h2>
   

    <p>
        @Html.ActionLink("Create New", "Create", "Questions", new { @class = "btn btn-primary" })
    </p>



    @{
        List<int> modules = new List<int>();
        List<(int, List<int>)> modulesQuestions = new List<(int, List<int>)>();

        foreach (var question in Model)
        {
            if (!modules.Contains(question.Module.ModuleId))
            {
                modules.Add(question.Module.ModuleId);
            }
        }

        foreach (var module in modules)
        {
            List<int> questions = new List<int>();
            foreach (var question in Model)
            {
                if (module == question.Module.ModuleId)
                {
                    questions.Add(question.QuestionId);
                }
            }
            modulesQuestions.Add((module, questions));
        }
    }

    @foreach (var module in modules)
    {

        <h3>@Html.DisplayNameFor(model => model.Module) :<span id="module">@Model.FirstOrDefault(q => q.Module.ModuleId == module).Module.ModuleLib</span></h3>



        
            <table class="table">
                <tr>
                    <th scope="col">Niveau</th>
                    <th scope="col">Question ouverte ?</th>
                    <th scope="col">Intitulé de la question</th>
                    <th scope="col">Action</th>
                </tr>
                @foreach (var question in Model.Where(q => q.Module.ModuleId == module).OrderBy(q => q.Niveau.NiveauId))
                {
                    <tr>

                        <td>@question.Niveau.NiveauLib</td>
                        <td class="openQuestion">@question.QuestionOuverte</td>
                        <td>@question.QuestionLib</td>
                        <td class="actionbutton">
                            @Html.ActionLink("Details", "Details", new { id = question.QuestionId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Edit", "Edit", new { id = question.QuestionId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = question.QuestionId }, new { @class = "btn btn-warning" })
                        </td>
                    </tr>
                }

            </table>
       

    }

</div>

<style>
    .marginAfterLeftNavBar
    {
        margin-left: 180px;
    }

    h3 {
        margin-top:40px;
    }
    
    th, td{        
        padding-right:20px;    

      
    }

    table{
        margin-left:20px;        
        margin-top:10px;                  
    }

    .actionbutton {
        width: 210px;       
    }

    .module{
        
    }

    .openQuestion{
        width:90px;
    }
    
</style>



