@model IEnumerable<BabaRh.Web.Models.ViewModel.QuestionVM>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionLib)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOuverte)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionLib)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionOuverte)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.QuestionId  }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuestionId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuestionId })
            </td>
        </tr>
    }

    </table>



