@model BabaRh.Web.Models.ViewModel.QuizzVM

<h2>Details</h2>

<div>
    <h4>Quizz @Model.QuizzId</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Candidat) :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Candidat.Nom)
            @Html.DisplayFor(model => model.Candidat.Prenom)
        </dd>

        <dt>
            Nombre de questions :
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NbQuestion)
        </dd>

        @foreach (var module in Model.Modules)
        {
            <dt>
                @module.ModuleLib :
            </dt>

            <dd>
                @foreach (var question in Model.Questions)
                {
                    if (question.ModuleLib == module.ModuleLib)
                    {
                        @question.QuestionLib
                        @question.Niveau
                        <ul>
                            @foreach (var reponse in question.Reponses)
                            {
                                <li>
                                    @reponse.IsOK
                                    @reponse.ReponseLib
                                </li>
                            }
                        </ul>
                    }
                }
            </dd>
         }
    </dl>
</div>
