@model BabaRh.Web.Models.ViewModel.QuizzVM

<h2>Details</h2>

<div>
    <h4>Quizz</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Quizz.Module.)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quizz.Module)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NbQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbQuestion)
        </dd>

        <dd>
            <ul>
                @foreach (var module in Model.Modules)
                {
                    <li>@module.ModuleLib</li>
                }
            </ul>
        </dd>
    </dl>
</div>
