@model BabaRh.Web.Models.ViewModel.QuizzVM

@{
    ViewBag.Title = "Delete Quizz";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer ce quiz ?</h3>

<table class="table">
    @if (true)
    {
        <tr>
            <th>@Html.DisplayNameFor(model => model.QuizzId)</th>
            <td>@Model.QuizzId</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Candidat.Nom)</th>
            <td>@Model.Candidat.Nom</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Candidat.Prenom)</th>
            <td>@Model.Candidat.Prenom</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Modules)</th>
            @foreach (var module in Model.Modules)
            {
                <td class="retourChariotFlex">
                    @module.ModuleLib<br>
                </td>
            }
        </tr>
    }

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Supprimer" class="btn btn-default" /> |
        @Html.ActionLink("Retour à la liste", "Index")
    </div>
}

<style>

    .retourChariotFlex {
        display: flex;
    }
</style>