@model IEnumerable<BabaRh.Web.Models.ViewModel.QuizzVM>

@Html.Partial("~/Views/Shared/_LayoutQuizzManager.cshtml")

@{
    ViewBag.Title = "Liste des quiz";
}


<div class="marginAfterLeftNavBar">

    <h2>Liste des quiz par candidat</h2>

    <p>
        @Html.ActionLink("Ajouter nouveau quiz", "Create", "Quizz", new { @class = "btn btn-primary" })
    </p>

    @{
        List<int> candidats = new List<int>();
        List<(int, List<int>)> candidatsQuizzes = new List<(int, List<int>)>();

        foreach (var quizz in Model)
        {
            if (!candidats.Contains(quizz.Candidat.Id))
            {
                candidats.Add(quizz.Candidat.Id);
            }
        }

        foreach (var candidat in candidats)
        {
            List<int> quizzes = new List<int>();
            foreach (var quizz in Model)
            {
                if (candidat == quizz.Candidat.Id)
                {
                    quizzes.Add(quizz.QuizzId);
                }
            }
            candidatsQuizzes.Add((candidat, quizzes));
        }
    }

    
<table class="table">
    <tr>
        <th scope="col">Candidat</th>
        <th scope="col">Quiz</th>
        <th scope="col">Action</th>
    </tr>
    @foreach (var candidat in candidats)
    {
        foreach (var quizz in Model.Where(q => q.Candidat.Id == candidat))
        {
            <tr>
                <td class="candidat">@Model.FirstOrDefault(q => q.Candidat.Id == candidat).Candidat.Nom @Model.FirstOrDefault(q => q.Candidat.Id == candidat).Candidat.Prenom</td>
                <td class="quizz">Quiz N°@quizz.QuizzId</td>
                <td class="actionbutton">
                    @Html.ActionLink("Détails", "Details", new { id = quizz.QuizzId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Editer", "Edit", new { id = quizz.QuizzId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Supprimer", "Delete", new { id = quizz.QuizzId }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    }
    </table>
        
        
        @*<dl>
            <dt>@Model.FirstOrDefault(q => q.Candidat.Id == candidat).Candidat.Nom @Model.FirstOrDefault(q => q.Candidat.Id == candidat).Candidat.Prenom</dt>

            <dd>
                <ul>
                    @foreach (var quizz in Model.Where(q => q.Candidat.Id == candidat))
                    {
                        <li>"Quizz N°@quizz.QuizzId
                    @Html.ActionLink("Détails", "Details", new { id = quizz.QuizzId })
                    @Html.ActionLink("Edit", "Edit", new { id = quizz.QuizzId })
                        </li>
                    }
                </ul>
            </dd>
        </dl>*@
    
</div>

<style>
    .marginAfterLeftNavBar {
        margin-left: 180px;
    }

    th, td {
        padding-right: 20px;
    }

    table {
        margin-left: 20px;
        margin-top: 50px;
    }

    .actionbutton {
        width: 70px;
    }

    .candidat {
        width:110px;
    }

    .quizz {
        width: 70px;
    }

</style>

