@model IEnumerable<BabaRh.Web.Models.ViewModel.ReponseVM>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des réponses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReponseLib)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReponseLib)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
